<div class="about-body">
<div class="about-section" id="intro">
  I am a first year graduate student in the robotics program at Oregon State University. 
  I am researching in the Autonomous Systems and Distributed Intelligence Lab with Professor Kagan Tumer as my adviser. 
  Prior to starting my PhD, I graduated with a computer science degree from MIT and worked in Manhattan for a year.
</div>
<hr>
<div class="about-section" id="research">
  <div class="about-txt">
    My research is currently focused on the coordination of agents in tightly coupled systems with only local information through reward shaping and mechanism design. In plain English, I am creating incentive structures to encourage robots to work together on tasks that require multiple agents (like picking up a heavy table). 
  </div>
  <div class="about-img">
    <a><img src="images/swarm.jpg" style="width:100%; height:100%; border:0;"></a>
  </div>
</div>
<hr>
<div class="about-section" id="personal">
  <div class="about-img">
    <a><img src="http://www.unixstickers.com/image/cache/data/stickers/haskell/Haskell.sh-600x600.png" style="width:100%; height:100%; border:0;"></a>
  </div>
  <div class="about-txt">
    My general academic interests are in machine learning and robotics, but I also am very interested in functional programming. Almost all of my individual research and project code is written in Haskell, and I can say that it has made writing and maintaining my software much more enjoyable.
  </div>
  <br>
</div>
<hr>
<div class="about-section">
  Outside of academics, I enjoy Taekwondo, Karaoke, and Board Games.
</div>
<hr>
<div class="about-section">
  Test section.
</div>
</div>
