<div class="body">
  <div id="professional">
    You can find my latest code and professional information in the following places. I do my best to keep everything as up to date as possible, but I could be better. <br>
    <div class="prof-images">
      <div class="prof-image">
        <a href="https://www.linkedin.com/in/eklinkhammer">
          <img src="images/linkedin.png" style="width:64px;height:64px;border:0;">
        </a>
      </div>
      <div class="prof-image">
        <a href="http://www.github.com/eklinkhammer">
          <img src="images/github.jpg" style="width: 64px; height: 64px; border:0;">
        </a>
      </div>
      <div class="prof-image">
        <a href="http://stackoverflow.com/users/3537183/eric-klinkhammer">
          <img src="images/stack.png" style="border:0;">
        </a>
      </div>
      <div class="prof-image">
        <a href="http://www.haskellers.com">
          <img src="images/haskell.png" style="border:0;">
        </a>
      </div>
    </div> <!--Prof images -->
  </div>
  <div id="social_media">
    You can follow me on all of the usual social media platforms.
    <div class="prof-images">
       <div class="prof-image">
        <a href="http://www.facebook.com/eklinkhammer">
          <img src="images/facebook.png" style="border:0;width:64px;height:64px;">
        </a>
      </div>
      <div class="prof-image">
        <a href="http://stackoverflow.com/users/3537183/eric-klinkhammer">
          <img src="images/twitter.png" style="width:64px;height:64px;border:0;">
        </a>
      </div>
      <div class="prof-image">
        <a href="http://stackoverflow.com/users/3537183/eric-klinkhammer">
          <img src="images/google.png" style="border:0;width:64px;height:64px;">
        </a>
      </div>
      <div class="prof-image">
        <a href="http://stackoverflow.com/users/3537183/eric-klinkhammer">
          <img src="images/skype.png" style="border:0;width:64px;height:64px;">
        </a>
      </div>
    </div>
  </div>
  <div id="things">
    Here's some of the things I enjoy reading: <br>
    xkcd, smbc
  </div>
</div>
